# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/
.env
creds.cfg
config.yml
proto
troubleshoot
.DS_Store
logo-changer
main
__debug_bin

heroku-buildpack-go/

.DS_Store
